main{
    height: 100vh;
}

#board-container{
    padding-top: 20px;
    height: 400px;
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.game-body{
    display: flex;
    flex-direction: column;
}

.full-height {
    height: 100%;
}

header{
    background-color: #f39c12;
}

.game-form{
    background-color: #f39c12;
}

.slot {
    border: 1px solid #f39c12;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #f39c12;
}

#game-status {
    font-size: 50px;
    color: black;
    font-weight: bold;
}

.nav-link {
    color: black;
}